.days-container-inner {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 50%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.week-names {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: -webkit-flex;
}

.month-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: -webkit-flex;
  text-align: center;
  vertical-align: middle;
}

.month-header-inner {
  margin: 0 auto;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  vertical-align: middle;
}

.filler-date {
  width: calc((100% / 7) - 2px);
  height: 120px;
  border: 1px solid #c3c3c3;
  background-color: black;
}

.real-dates {
  width: calc((100% / 7) - 2px);
  height: 120px;
  border: 1px solid #c3c3c3;
}
